

*::after,
*::before,
* {
  box-sizing: border-box;
  // border: 1px solid red;
  margin: 0px;
  font-family: "Poppins" sans-serif;
}

body{
  width: 100%;
  overflow-x: hidden;
  font-family: "Poppins", serif;
}